name: Verify Code

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'
          check-latest: true
          cache: true

      - uses: azure/setup-helm@v4
        with:
          version: 'v3.19.0'

      - name: Install the latest version of kind
        shell: bash
        run: |
          set -euo pipefail
          
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4.0

      - name: Test
        run: make test

      - name: Test E2E
        run: make test-e2e
